#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.textBG {
  text-align: center;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    #e855e1,
    #7453df,
    #fff,
    #ffd96f,
    #00adf0,
    #e855e1
  );
  background-size: 200%;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.wing:hover h1 {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
}

/* #impulse:hover {
  text-shadow: 0 0 10px #fff;
} */

#navbar div a:hover {
  text-shadow: 0 0 10px lightgoldenrodyellow;
}

/* #canvas {
  position: absolute;
  left: 0;
  width: 1366;
  max-width: 100%;
  height: 277;
  z-index: 10;
} */

